**/.git
**/.venv
**/.vscode
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/.env
**/.env.*
**/projects.db
**/projects.db.backup
**/app.db
**/flask_session/
**/server_uploads/
DRAW 1.0.code-workspace
*.log
